.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-left: 150px;
  padding-right: 150px;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 35%;
  max-width: 30%;
  margin: auto;
  margin-top: 80px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#galleryText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  height: 100px;

}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 90%;
    flex: 90%;
    max-width: 90%;
  }

  img {
    border-radius: 10px;
  }

  .row {
    padding: 0;
  }

}